<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../../assets/global/default-head.ejs'); %>
    <link rel="stylesheet" href="/routes/5_imprensa/artigos/artigos.css">
    <script defer src="/routes/5_imprensa/artigos/artigos.js"></script>
</head>


<body>
  <!--==================== HEADER ====================-->
  <%- include('../../../assets/blocks/top-header/top-header.ejs'); %>

  <!--==================== HEADER ====================-->
  <%- include('../../../assets/blocks/header/header'); %>

    <!--==================== MAIN ====================-->
    <main class="main">

      <section class="home section" id="artigos">

        <h2 class="section__title">Artigos</h2>

        <div class="articles__container container">

          <div class="articles__segments grid">

            <% articles.forEach(function(articles) { %>

              <a class="articles__segment" target="_blank" href='/artigo/<%=articles.article_id%>'>
          
                <p class="articles__title"><%=articles.article_title%></p>
      
                <div class="articles__info">
                  <div class="articles__data">
                    <div class="articles__origin">
                      <%=articles.article_owner%>
                    </div>
                    <div class="articles__date">
                      <%=articles.article_date%>
                    </div>
                  </div>
                </div> 
              </a>

              <% }); %>

          </div>

        </div>

      </section>

    </main>

    <!--==================== FOOTER ====================-->
    <%- include('../../../assets/blocks/footer/footer.ejs'); %>

      <!--==================== SCROLL TOP ====================-->
      <a href="#" id="scroll-up" class="scrollup">
        <i class="uil uil-arrow-up scrollup__icon"></i>
      </a>

</body>

</html>